:root {
    --primaryRed: #C32026;
    --primaryWhite: #FFFFFF;
    --primaryBlack: #000000;

    --secondaryYellow: #FAA71A;
    --secondaryRed: #A61419;
    --secondaryBlue: #373F52;

    --secondaryLightYellow: #FCC15F;
    --secondaryDarkYellow: #C88615;
    --secondaryLightRed: #F14960;
    --secondaryDarkRed: #740E12;
    --secondaryLightBlue: #737986;
    --secondaryDarkBlue: #272C39;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    background-color: var(--primaryWhite);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    margin-top: 20px;
}

#mainTitle {
    font-family: "DM Serif Display", serif;
    font-size: 2.5rem;
    color: var(--primaryBlack);
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px;
}

.form-container h2 {
    font-family: "Inter semibold";
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-family: "Inter";
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"] {
    width: calc(100% - 12px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    background-color: var(--primaryRed);
    color: white;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: var(--secondaryDarkRed);
}

.signature-preview {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust the width as needed */
    margin: 40px; /* Optional: Add margin for spacing */
}

.signature-preview p {
    margin-bottom: 10px;
}

.signature-preview p:last-child {
    margin-bottom: 0;
}

.signature-preview img {
    margin-right: 10px;
}

#copySignatureButton {
    font-family: "Inter", Arial, sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#copySignatureButton:hover {
    background-color: var(--primaryRed);
    color: var(--primaryWhite);
}

/* Add styles for notification */
.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000;
    animation: pop-up 2s ease;
}

@keyframes slide-up {
    0% { transform: translate(-50%, 100%); }
    100% { transform: translate(-50%, 0); }
}

@keyframes pop-up {
    0% { transform: translate(-50%, -100%); }
    25% { transform: translate(-50%, 0); opacity: 1; }
    75% {opacity: 1;}
    100% {opacity: 0;}
}